/* navbar */
.navbar {
    display: flex !important;
    padding: 0 !important;
    justify-content: space-between;
    align-items: center !important;
   }
  
   .logo {
    height: 34px;
   }

   .right-nav {
    display: flex;
    align-items: center;
    justify-content: end;
    max-width: 465px;
    width: 100%;
   }
  
   .right-nav .nav-tags a {
    text-decoration: none;
    color: #515151;
    padding: 10px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
  }
  
  .right-nav .button {
    background-color: #F89D21;
    color: white;
    border-radius: 40px;
    box-shadow: 0px 10px 40px 0px #F89D21B2;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: none;
    max-width: 150px;
    width: 100%;
  }

  .right-nav .button:hover {
    background-color: #F89D21;
    color: white;
  }

   @media (max-width: 800px) {
    .navbar {
      justify-content: space-between;
    }

    .logo {
      height: 15px;
    }
  
    .right-nav {
      display: none;
    }
  }