
 /* overview */
 .overview {
    padding: 20px;
  box-sizing: border-box;
   }
  
   .overview-desc {
    gap: 24px;
   }
  
   .overview-heading {
     font-family: Inter !important;
     font-weight: 700 !important;
     font-size: 48px !important;
     color: #000000;
     margin-bottom: 48px !important;
     margin-left: -16px !important;
   }
  
   .overview-heading-line {
    display: inline-table;
    transform: rotate(-1.34deg); 
    border-bottom: 4px solid #F89D21;
    color: #46B0E6;
   }
  
   .overview-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
   }
  
   .overview-list-empty-item {
    padding: 24px;
    gap: 24px;
    border-radius: 10px;
    background: linear-gradient(180deg, #F6FBF8 0%, #F6FBF8 0.01%, rgba(246, 251, 248, 0) 100%) !important;
  
   }
   
   .overview-list-items {
    padding: 24px;
    border-radius: 10px;
    background: #F6FBF8;
    box-shadow: 0px 24px 24px 0px #00000014;
    align-items: center;
    display: flex;
    gap: 24px;
    flex-direction: row;
   }
  
    .overview-list-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
   } 
  
    .overview-list-item-head {
    font-family: Inter !important;
    font-size: 16px;
    font-weight: 500 !important;
    color: #000000;
   }
  
   .overview-list-item-desc {
    font-family: Inter !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #515151;
    margin: 0;
   } 
   
   .list-item-image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
   }
  
   .overview-images {
    position: relative;
  text-align: center;
   }
  
   .overview-main-image {
    width: 100%;
  max-width: 572.74px;
  max-height: 632px;
  height: 100%;
  position: relative;
   }

   @media (max-width: 1000px) {
    .overview {
        padding-right: 0;
        padding-left: 10px;
    }

    .overview-main-image {
      max-width: 100%;
       }
   }